<div class="center jumbotron">
  <h1>Bienvenue !</h1>
  <h3>
    Le site qui te donne la réponse à la question de la vie 🎓
  </h3>
  <p>
    Rejoins notre secte. Veniam consequuntur quod quisquam nihil quibusdam quasi reiciendis cupiditate.
    Culpa similique dolorem qui occaecati magni ipsam explicabo est.
    Corrupti atque fugit repellendus quisquam commodi illum inventore laboriosam.
    Unde laborum molestias saepe libero. Ounga Rinshnou !
    Necessitatibus tenetur commodi libero odit atque aspernatur ea enim. </p>
    <br>
    <%= link_to "Créer un compte", '/users/new', class: "btn btn-lg btn-primary" %>
    <%= link_to "La page secrete !", '/sessions/skippy', class: "btn btn-lg btn-primary" %>
    <br>
</div>
